/*selector {
    Property: value;
}*/

* {
  text-align: right;
}

body{
    background-image: url(../Pictures/dogs.jpg);
    background-size: cover;
}

  h2 + p:hover {
    color: rgb(2, 247, 173);
    text-align: center;
    border: 5px solid rgb(185, 183, 25);
    cursor: pointer;

  }

  p{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 20px;
  }  
  li {
    list-style: none;
    display: inline-block;
  }

  .webtext { 
    border: 5px dashed gold;

  }

  .active {
    color: bisque;
  }

  #div1 {
    background: rgba(0, 0, 255,0.2 );
  }

